// antialiasing mode font rendering
@mixin backface-visibility($visibility) {
  -webkit-backface-visibility: $visibility; // Safari <= 5
  backface-visibility: $visibility;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

@mixin transform-origin($axes: 50%) {
  -webkit-transform-origin: $axes;
  -moz-transform-origin: $axes;
  -ms-transform-origin: $axes;
  -o-transform-origin: $axes;
  transform-origin: $axes;
}
